# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/Array/.vs/Array/v16/ipch/AutoPCH/1728bcbbec48af14
/Array/.vs/Array/v16/ipch/AutoPCH/d208aa671fa4b4af
/Array/.vs/Array/v16/ipch/AutoPCH/ffde0a9d36944bd5
/Array/Debug
/Array/.vs/Array/v16
